@use 'sass:color';
@use './../admin-variables' as adminVariables;
@use 'sass:color';

form {
  max-width: 700px;
  padding: 30px;
  border: 1px solid adminVariables.$border-color;
  border-radius: adminVariables.$border-radius;
  margin-bottom: 30px;
  background-color: adminVariables.$form-bg-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  .mb-3 {
    margin-bottom: 2rem !important;
  }

  .form-label {
    font-weight: 500;
    color: adminVariables.$text-color;
  }

  .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;

    &:focus {
      border-color: adminVariables.$primary-color;
      box-shadow: 0 0 0 0.2rem rgba(adminVariables.$primary-color, 0.25);
    }
  }

  .text-danger {
    font-size: 0.9em;
    color: adminVariables.$danger-color !important;
    margin-top: 0.25rem;
  }

  .form-check-label {
    font-weight: normal;
    color: adminVariables.$text-color;
  }

  .btn-primary {
    background-color: adminVariables.$primary-color;
    border-color: adminVariables.$primary-color;

    &:hover {
      background-color: adminVariables.$primary-hover-color;
      border-color: adminVariables.$primary-hover-color;
    }
  }

  .btn-secondary {
    background-color: adminVariables.$secondary-color;
    border-color: adminVariables.$secondary-color;

    &:hover {
      background-color: adminVariables.$secondary-hover-color;

      border-color: color.adjust(adminVariables.$secondary-hover-color, $lightness: -5%);

    }
  }
}

h2 {
  margin-bottom: 25px;
  color: adminVariables.$heading-color;
}
