@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
@import './variables';
@import './mixins';

body {
  font-family: sans-serif;
  margin: 0;
}

.container {
  padding: 20px;
}
